.VPImage {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    object-fit: contain;
    background-color: rgb(250, 250, 250);
}
.image-bg.image-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 192px;
    height: 192px;
    background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    filter: blur(68px);
    transform: translate(-50%, -50%);
}